.admin-dashboard {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  overflow: hidden;
  gap: 1rem;
  .top {
    display: flex;
    gap: 1rem;
    .item {
      flex: 1;
      background-color: #ffffff;
      border: 1px solid #ddd;
      border-radius: 0.25rem;
      padding: 1rem;
    }
  }
  .bottom {
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 0.25rem;
    padding: 1rem;
  }
}
